@media (max-width: 640px){
	body {
		font-size: 14px;
	}
	.mobile-show {
		display: block;
	}
	.mobile-full {
		width: 100%;
		margin-left: 0;
	}
	.main-nav-outer {
		&:before,
		&:after {
			top: 15px; left: 15px; right: 15px;
		}
		&:after {
			top: auto;
			bottom: 15px;
		}
	}
	.main-nav {
		/*padding: 50px 15px;*/
		font-size: 14px;
		/*top: 30px; left: 30px; right: 30px; bottom: 30px;*/
		&:before {
			padding-top: 80px;
		}
		ul {
			padding-top: 0;
		}
		a {
			padding: 10px 0;
		}
	}
	.hero-section {
		overflow: hidden;
		.hero {
			max-width: 700px;
			width: auto;
			margin-left: 15px;
			margin-right: 15px;
			.title {
				font-size: 32px;
			}
		}
		.scroller {
			bottom: 0;
			text-align: center;
			width: 50px; height: 50px;
			margin-left: -25px;
			line-height: 50px;
			font-size: 50px;
		}
	}
	.logo {
		display: block;
		height: 80px;
		max-width: 100px;
	}
	.main-header {
		.phone-col {
			/*padding-right: 0;*/
		}
		.logo-col {
			padding-right: 0;
			padding-left: 5px;
			padding-top: 3px;
		}
		.btn {
			white-space: nowrap;
			font-size: 13px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 5px;
			padding-right: 5px;
			font-weight: 500;
		}
	}
	.popup {
		padding: 30px 0 50px;
		.inner {
			width: 90%;
			padding: 30px 20px;
			max-width: 500px;
		}
		.close-popup {
			position: absolute;
			bottom: auto; left: 50%;
			top: 100%;
			width: 60px; height: 60px;
			border-radius: 50%;
			line-height: 65px;
			background: transparent;
			color: #fff;
			text-align: center;
			font-size: 32px;
			margin-left: -30px;
		}
		.subtitle {
			margin-bottom: 15px;
			margin-top: 10px;
			font-size: 12px;
		}
		.title {
			font-size: 26px;
			margin-bottom: 10px;
		}
		.input.large {
			padding: 10px 15px;
			height: 50px;
		}
		.btn.btn-large {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	.main-menu-toggler {
		.toggler {
			font-size: 0;
			padding-right: 0;
			i {
				right: 0;
				left: auto;
			}
		}
	}
	.works-list {
		.tile {
			width: 100%;
			margin-bottom: 15px;
			.image {
				figcaption {
					font-size: 16px;
					padding: 20px;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
			&.large {
				width: 100%;
				.image {
					figcaption {
						font-size: 16px;
						padding: 20px;
					}
				}
			}
			&.small {
				width: 100%;
				.image {
					figcaption {
						font-size: 16px;
						padding: 20px;
					}
				}
			}
		}
	}
	.container {
		.title {
			margin-bottom: 15px;
			font-size: 24px;
			&.spaced-top {
				margin-top: 20px;
			}
			&.small {
				font-size: 18px;
				margin-bottom: 15px;
			}
		}
	}
	.typical {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.section-footer {
		padding-top: 15px;
	}
	.btn,
	.popup .btn {
		padding: 5px 20px;
		font-size: 14px;
	}
	.btn.btn-large,
	.popup .btn.btn-large {
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 16px;

		&.btn-light {
			padding-top: 13px;
			padding-bottom: 13px;
		}
	}
	.btn.btn-normal,
	.popup .btn.btn-normal {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 16px;

		&.btn-light {
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}
	.blockquote {
		font-size: 14px;
		line-height: 1.5;
		footer {
			font-size: 12px;
		}
	}
	.slider-wrapper {
		.owl-item {
			padding: 15px;
		}
		.blockquote {
			footer {
				font-size: 12px;
				margin-top: 10px;
			}
		}
	}
	.subtitle {
		font-size: 16px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.article {
		padding-left: 15px;
		padding-right: 15px;
	}
	.paragraph {
		font-size: 14px;
		margin-top: 15px;
		margin-bottom: 15px;
		&.bold {
			font-size: 16px;
		}
	}
	.carousel-wrapper {
		padding-left: 30px;
		padding-right: 30px;
		.owl-prev,
		.owl-next {
			width: 30px;
			&:before {
				font-size: 30px;
			}
		}
		.owl-prev {
			left: -40px;
		}
		.owl-next {
			right: -40px;
		}
	}
	.reg-block {
		.input {
			margin-bottom: 15px;
		}
	}
	.input {
		height: 30px;
		padding: 5px 20px;
		font-size: 14px;
		&.large {
			height: 50px;
			padding: 20px;
			font-size: 16px;
		}
	}
	.reg-block {
		.input {
			text-align: center;
		}
	}
	.main-footer {
		padding: 15px 0;
		.contacts-list {
			margin-top: 5px;
			li {
				display: block;
				padding: 0;
				border: none;
			}
		}
		.socials-list {
			a {
				line-height: 41px;
			}
			li {
				vertical-align: top;
			}
		}
		.icon-whatsapp {
			left: 1px;
			position: relative;
			line-height: 44px !important;
		}
		.copyright {
			margin-top: 20px;
		}
		.right {
			margin-top: 15px;
		}
	}
	.tile-grid,
	.works-grid {
		.tile {
			width: 100%;
			.verticaly-middle {
				.content {
					font-size: 20px;
				}
			}
		}
	}
	.card-cont {
		display: block;
		.picture-action {
			padding-bottom: 80%;
		}
		.action-vertical {
			padding-bottom: 80%;
		}
		.action-image {
			display: block;
			width: 100%;
		}
		.action-cont {
			display: block;
			width: 100%;
			padding: 20px;
			&:before {
				content: '';
				border: 12px solid transparent;
				border-bottom: 12px solid #0b0b0b;
				position: absolute;
				left: 50%;
				top: auto; bottom: 100%;
				margin-left: -12px;
			}
			&.action-cont-blue {
				&:before {
					border-right: none;
					border: 12px solid transparent;
					border-bottom: 12px solid $blue;
				}
			}
		}
	}
	.hero-section.typical-hero {
		padding: 15px 0;
		.hero {
			max-width: 640px;
			.title {
				font-size: 24px;
			}
			.subtitle {
				margin: 10px 0;
				font-size: 16px;
			}
		}
	}
	.users-list {
		.item {
			width: 100%;
			border-top: 1px solid #eee;
		}
	}
	.reg-block.bigger {
		.large-phone {
			display: inline-block;
			line-height: 40px;
			font-size: 40px;
			letter-spacing: -.05em;
			padding-bottom: 10px;
		}
		.title {
			font-size: 18px;
		}
		.line {
			display: inline-block;
			padding: 0;
		}
	}
	.title.medium {
		font-size: 18px;
	}
	.features-list {
		> li {
			padding: 0;
			.subtitle {
				font-weight: 300;
				font-size: 20px;
				line-height: 1.1;
			}
			.subtitle:before {
				margin-top: 20px;
				margin-bottom: 15px;
			}
		}
		.paragraph {
			margin: 10px 0;
			font-size: 13px;
		}
	}
	.works-grid {
		margin-top: 0;
	}
	.works-grid .tile {
		width: 100%;
	}
	.works-grid .tile .image figcaption,
	.works-grid .tile.large .image figcaption {
		font-size: 16px;
		padding: 15px;
	}
	.tabs-outer {
		position: relative;
		padding-bottom: 15px;
		.anchor {
			display: block;
			border: 2px solid #ddd;
			padding: 15px;
			text-transform: uppercase;
			font-weight: 500;
			position: relative;
			padding-right: 50px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			.icon {
				position: absolute;
				display: block;
				width: 40px; height: 40px;
				line-height: 40px;
				text-align: center;
				top: 50%; right: 0px;
				margin-top: -20px;
				font-size: 30px;
			}
		}
		&.active {
			box-shadow: 0 10px 15px rgba(0,0,0,.2);
			.anchor {
				background: #fff;
				border-color: #fff;
			}
			.tabs-list {
				display: block;
			}
		}
	}
	.tabs-list {
		font-size: 14px;
		position: absolute;
		background: #fff;
		display: none;
		z-index: 3;
		left: 0; width: 100%;
		> li {
			display: block;
			padding: 10px 15px;
			text-align: left;
			margin: 0;
			border: none;
			&.active {
				background: #f7f7f7;
				color: #000;
			}
		}
	}
	.metods-head {
		margin: 15px 0;
		> li {
			font-size: 16px;
			line-height: 1.5;
		}
	}
	.news-list .item {
		width: 100%;
		margin-bottom: 15px;
		.text-block {
			padding: 15px;
			border: none;
		}
		.heig-block {
			height: auto;
			margin-bottom: 20px;
			.title-block {
				margin-bottom: 10px;
				font-size: 18px;
			}
		}
		.footer-block {
			font-size: 12px;
			.foot-list {
				.foot-item {
					font-size: 12px;
					margin-right: 10px;
				}
				.icon {
					font-size: 16px;
				}
			}
		}
	}
	.pagination {
		margin-top: 0;
		li {
			padding: 7px 5px;
		}
		a {
			padding: 10px 15px;
		}
	}
	.aside-nav {
		margin: 10px 0 20px;
		.anchor {
			padding: 15px 20px;
			margin-bottom: 15px;
		}
		.btn.btn-block {
			width: 100%;
			display: block;
		}
		ul {
			font-size: 14px;
			a {
				padding: 10px 20px;
			}
		}
		&.active {
			box-shadow: 0 10px 15px rgba(0,0,0,.2);
			.anchor {
				background: #fff;
				border-color: #fff;
			}
		}
	}
	.action-block {
		.action {
			display: block;
			padding: 15px;
			position: static;
			white-space: nowrap;
			width: 100%;
			background: #fff;
			border-top: none;
			border-width: 3px;
			color: #000;
			dt, dd {
				display: block;
				width: 100%;
			}
			dt {
				padding-bottom: 15px;
				font-size: 30px;
				text-align: center;
			}
		}
		.verticaly-middle.inline {
			position: static;
		}
	}
	.contacts-block {
		.col {
			padding: 30px 30px 15px !important;
			.title {
				margin-bottom: 10px;
			}
			&:first-child {
				margin-bottom: 15px;
			}
		}
		.form-group {
			margin-bottom: 15px;
			.alert {
				display: none;
			}
		}
	}
	.contacts-list {
		font-size: 13px;

		dl {
			display: block;
			margin: 15px 0 10px;

			&:before {
				content: '';
				display: block;
				width: 40px; height: 2px;
				background: $blue;
				margin-bottom: 10px;
				margin-top: 20px;
			}
			dt {
				width: 100%;
				color: #000;
				font-size: 16px;
				margin-bottom: 5px;
			}
			dt, dd {
				display: block;
			}
		}
	}
	.four {
		.image-logo {
			padding: 0 25% 5%;
			margin-bottom: 5px;
		}
		.image-center {
			padding: 0% 10%;
			margin-bottom: 25px;
		}
		.text-center {
			padding: 0% 10%;
			margin-bottom: 30px;
			.subscribe {
				font-size: 15px;
				br {
					display: none;
				}
			}
		}
		.main-button {
			.btn.btn-normal {
				padding-top: 8px; 
				font-size: 14px;
				min-width: 200px;
			}
		}
	}
}
@media (max-height: 500px){
	main.full-height {
		height: 360px;
	}
	.hero-section {
		.hero {
			max-width: 43%;
			margin-right: auto;
			margin-left: auto;
			.title {
				font-size: 24px;
			}
		}
	}
}